/* 해당 css는 수정 시 웹사이트 전체에 영향을 줄 수 있습니다. */
:root {
    --pointColor: #00ffD4;
    --baseColor: #fff;
    --textColor: #000;
    --largeTitle: 60px;
    --mediumTitle: 40px;
    --text: 18px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul>li {
    list-style-type: none;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


h1 {
    font-size: var(--largeTitle);
}

h3 {
    font-size: var(--mediumTitle);
}

p {
    font-size: var(--text);
}