/* header(헤더) */


.header {
    max-width: 100%;
    max-height: 120px;
    border-bottom: 1px solid #00FFD4;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}


.header .logo {
    width: 300px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
}


.header .topMenu {
    width: 530px;
    background-color: #ccc;
}

.header .topMenu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .topMenu ul li {
    width: 150px;
    border: 1px solid red;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.header .topMenu ul li a {
    color: #000;
}

.header .topMenu ul li .login {
    width: 100px !important;
    border: 1px solid red;
}


.mainTitle {
    font-size: 60px;
    font-weight: 900;
}