/* 컨텐츠 영역 */

.contents {
    position: relative;
    width: 100%;
    max-width: 1920px;
}

.contents .mainBanner {
    position: absolute;
    z-index: -1;
    top: 120px;
    width: 100%;
    max-height: 655px;
    text-align: center;
}


.contents .mainBannerSpacer {
    height: 800px;
    z-index: -10;
}

.contents .mainBanner .banner1 {
    display: block;
    height: 655px;
    background-image: url(../img/main_background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contents .mainBanner .banner1 .bannerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
}


.contents .mainBanner .banner1 .bannerText .mainTitle {
    padding: 0 0 20px 0;
    font-weight: 800;
    color: var(--pointColor);
}

.contents .mainBanner .banner1 .bannerText .subTitle {
    padding: 0 0 20px 0;
    font-size: var(--mediumTitle);
}

.contents .mainBanner .banner1 .bannerText p {
    line-height: 30px;
    font-weight: 400;
}

.contents .mainBanner .banner1 .bannerText p {
    line-height: 30px;
    font-weight: 400;
}

.contents .mainBanner .banner1 .bannerText .mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 25px 0;
    font-weight: 600;
    background-color: var(--pointColor);
    border-radius: 50px;
    color: #000;
}


/* 메인영역 끝 */

.firstSection,
.secondSection {
    padding: 120px 0;
}


.firstSection .title,
.secondSection .title {
    text-align: center;
}


.firstSection .title p,
.secondSection .title p {
    margin-top: 30px;
}


.sectionTitle {
    font-size: var(--mediumTitle);
    font-weight: 600;

}


.secondSection {
    background-color: #24EDCB;
}


.firstSection .checkPart,
.secondSection .checkPart {
    display: flex;
    justify-content: center;
}



.firstSection .checkPart ul,
.secondSection .checkPart ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    padding: 60px 0 0 0;
    text-align: center;

}

.firstSection .checkPart ul li {
    width: 100%;
}


.firstSection .checkPart ul li .partTitle {
    margin: 35px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}


.secondSection .checkPart ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 212px;
    height: 340px;
    background-color: #fff;
    border-radius: 20px;
}


.secondSection .checkPart ul li .num {
    width: 100%;
    padding: 20px 0;
    color: var(--pointColor);
    background: #000;
    border-radius: 20px 20px 0 0;
}

.secondSection .checkPart ul li p {
    padding: 30px 0;
}