 h4 {
     font-size: var(--subTitle);
 }

 .mypage {
     position: relative;
     min-height: 100vh;
     height: auto;
 }


 .mypage .mypage-wrap {
     position: relative;
     margin: 120px auto;
     padding: 120px 0;
     width: 1200px;
 }


 .mypage .mypage-wrap h3 {
     text-align: center;
     font-weight: 800;

 }

 .userName {
     margin: 60px 0 0 0;
     font-size: 24px;
     font-weight: 400;
 }

 .userName .nameArea {
     font-weight: 700;
 }

 .editArea {
     display: flex;
     justify-content: space-between;
     width: 1140px;
     height: 250px;
     margin: 20px 0 0 0;
     padding: 30px;
     border: 1px solid #ccc;
     border-radius: 10px;
 }

 .editArea .userData,
 .editArea .dataEditBtn {
     width: calc(100%/2);
     padding: 0px 30px;
 }

 .editArea .userData {
     border-right: 1px solid #ccc;
 }


 .editArea .userData li {
     font-size: 18px;
     line-height: 30px;
 }

 .editArea .userData .listTitle {
     margin: 0 0 20px 0;
     padding: 0 0 20px 0;
     font-size: 24px;
     font-weight: 700;
     border-bottom: 1px solid #000;
 }

 .dataEditBtn .point {
     width: auto;
     height: calc(250px / 3 - 20px);
     padding: 20px;
     background: #e4fffa;
     border: 1px solid #028183;
     border-radius: 10px;
 }


 .pointScore {
     display: flex;
     justify-content: flex-end;
     font-size: 36px;
     font-weight: 700;
 }


 .editBtn {
     display: flex;
     justify-content: space-between;
     gap: 30px;
     margin: 20px 0;
 }

 .editBtn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: calc(250px / 3 - 35px);
 }

 .editBtn a {
     text-decoration: none;
     color: #000;
 }

 .editBtn .tabBtn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     background-color: var(--pointColor);
     font-size: 18px;
     border-radius: 10px;
 }

 .editBtn .infomationClick:hover {
     background-color: #0cb99c;
     color: #fff;
     border-color: #fff;
     border: 2px solid #fff;
     box-shadow: 0 4px 12px rgba(6, 108, 91, 0.4);
     transition: 0.3s;
 }

 .editBtn .editData {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     border: 1px solid #ccc;
     font-size: 18px;
     border-radius: 10px;
 }


 .editBtn .tabBtn:hover .categoryBtn {
     width: 100%;
     height: 120px;
 }

 .categoryBtn ul {
     display: flex;
     justify-content: flex-start;
     gap: 30px;
     padding: 120px 0 0 0;
 }


 .categoryBtn ul li {
     width: 180px;
     height: 60px;
     text-align: center;
     background-color: var(--pointColor);
     border-radius: 10px;
 }


 .categoryBtn ul li button {
     width: 180px;
     height: 60px;
     font-size: 18px;
     padding: 10px 20px;
     background: none;
     border: none;
     border-radius: 10px;
     cursor: pointer;
 }


 .categoryBtn ul li button:hover {
     background-color: #0cb99c;
     color: #fff;
     border: 2px solid #fff;
     box-shadow: 0 4px 12px rgba(6, 108, 91, 0.4);
     transform: translateY(-2px);
     transition: 0.3s;
 }


 .historyList,
 .faqList {
     padding: 90px 0 0 0;

 }



 .historyTable,
 .faqListTable {
     width: 100%;
     text-align: center;
     border-collapse: collapse;
     border-spacing: 0;
 }

 .columnBox {
     padding: 20px 0;
 }

 .columnBox th {
     font-weight: 400;
     padding: 20px 0;

     border-bottom: 1px solid #ccc;
 }

 .historyList .moreView {
     text-align: right;
     cursor: pointer;
 }

 .historyList .moreView:hover {
     font-weight: 600;
 }

 .rowBox .rowLine td {
     padding: 20px 0;
     border-bottom: 1px solid #ccc;
 }

 .rowBox .HistoryLine td:nth-child(1) {
     width: 600px;

 }

 .rowBox .faqLine td:nth-child(3) {
     width: 600px;
 }

 .rowBox .rowLine td:nth-child(5) {
     width: 100px;
 }


 .rowBox .rowLine .statusDot {
     padding: 5px 20px;
     text-align: center;
 }

 .rowLine .statusDot .stateDot {
     display: inline-block;
     width: 60px;
     padding: 5px 10px;
     text-align: center;
     border-radius: 50px;
 }

 .moreView {
     position: absolute;
     right: 0;
     background: none;
     border: none;
 }


 .rowBox .rowLine .statusDot .redDot {
     background-color: var(--redDotBg);
     border: 1px solid var(--redDotBorText);
     color: var(--redDotBorText);
 }

 .rowBox .rowLine .statusDot .yellowDot {
     background-color: var(--yellowDotBg);
     border: 1px solid var(--yellowDotBorText);
     color: var(--yellowDotBorText);
 }

 .rowBox .rowLine .statusDot .greenDot {
     background-color: var(--greenDotBg);
     border: 1px solid var(--greenDotBorText);
     color: var(--greenDotBorText);
 }

 .rowBox .rowLine .statusDot .greyDot {
     background-color: var(--greyDotBg);
     border: 1px solid var(--greyDotBorText);
     color: var(--greyDotBorText);
 }